/* Configuração geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #434343, #9cbef9);
    color: #ffffff;
}

/* Estilização do formulário */
form {
    background: rgba(71, 75, 112, 0.962); /* Fundo semi-transparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    color: #a30909;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento uniforme */
}

/* Título */
h1 {
    text-align: center;
    font-size: 28px;
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Labels */
label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

/* Campos de entrada */
input[type="text"],
input[type="password"] {
    width: 98%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #333333;
    font-size: 16px;
}

/* Placeholder */
input::placeholder {
    color: #999999;
}

/* Botão */
button[type="submit"] {
    width: 105%;
    padding: 12px;
    background: #4456fc;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e64a19;
}

/* Estilo para a mensagem de erro */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
}

/* Estilização da classe login-link */
.login-link {
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 20px; /* Espaço superior entre os elementos */
}

.login-link a {
    color: #dcdde4; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: color 0.3s ease; /* Animação suave para mudança de cor */
}

.login-link a:hover {
    color: #6877e9; /* Cor do link ao passar o mouse */
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

.login-link a:focus {
    outline: none; /* Remove o contorno do link ao clicar */
    color: #283593; /* Cor do link ao focar */
}
